{%extends "layout2.html" %}

{%block content %}
{%import "_macros.html" as macro %}
<h1>Alumnos</h1>
<form action="" method="POST" novalidate>
    <!--   
    formas de uso variables desde macros, formularios , etc
    
    {{macro.datos("nombre","NOMBRE")}}
    {{macro.datos("edad","EDAD", "number")}} -->
    {{form.csrf_token }}
    <input type="hidden" name="csrf" value="{{csrf_token}}">
    {{macro.input_Form(form.nombre,class="form-control") }}
    {{macro.input_Form(form.email,class="form-control") }}
    {{macro.input_Form(form.apaterno,class="form-control") }}
    {{macro.input_Form(form.edad,class="form-control") }}
    <input type="submit" name="btn1">

    <!--     {{ form.materias }}-->
</form>
<p>{{form.nombre}}</p>


{% endblock %}